# Python
**/__pycache__/
**/pycashe/
*.py[cod]
*.pyo
*.pyd
# Virtual envs
env/
venv/
# Byte-compiled / optimized / DLL files
*.so
# IDEs
.vscode/
.idea/
# macOS
.DS_Store
# Windows
Thumbs.db
# Flutter / Dart
.dart_tool/
build/
**/build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
# Gradle
.gradle/
**/*.iml
# Logs
*.log

# PyInstaller / release artifacts
raspi/build/
raspi/dist/
raspi/*.spec
release/*.zip
release/*/windows/
release/*/android/
raspi/server/configure.json
raspi/server/ha_config.json
raspi/oauth.json


# docker
docker/*
!docker-compose.yml
!dockertutorial.md


# other

overview.md